:root {
  --background-site: #fff;
  --backfround-hero: #2f303a;
  --background-team-card: #fff;
  --color-main-text: #212121;
  --color-sub-text: #757575;
  --color-accent: #2196f3;
  --text: #fff;
  --logo-color: #000000;
  --act-button: #188ce8;
  --command-back: #f5f4fa;
  --client-color: #afb1b8;
  --footer-back: #2f303a;
  --footer-info: rgba(255, 255, 255, 0.6);
  --join-item-bg: rgba(255, 255, 255, 0.1);
  --social-icon: #afb1b8;
  --doing-info-bg: rgba(47, 48, 58, 0.8);
  --duration-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
  text-decoration: none;
}

svg {
  fill: currentColor;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list-style {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-site);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--color-main-text);
}

html {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin: 0;
}

ul,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* header */
.accent {
  color: var(--color-accent);
}

header {
  border-bottom: 1px solid #ececec;
  padding: 25px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
}

.header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--logo-color);
  margin-right: 93px;
}

.current {
  color: var(--color-accent);
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
  border-radius: 2px;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.menu-item-text {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding: 32px 0;
  transition: color var(--duration-cubic);
}

.menu-info {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.contact-item {
  transition: color var(--duration-cubic);
}

.icon-envelope,
.icon-smartphone {
  transition: fill var(--duration-cubic);
}

.menu-item-text:hover,
.menu-item-text:focus,
.contact-item:hover,
.contact-item:focus,
.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--color-accent);
}

.contact-item:hover .icon-envelope,
.contact-item:focus .icon-envelope,
.contact-item:hover .icon-smartphone,
.contact-item:focus .icon-smartphone {
  fill: var(--color-accent);
}

.icon-envelope,
.icon-smartphone {
  margin-right: 10px;
}

.contact-item {
  color: var(--color-sub-text);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

/* hero */

.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-bg.jpg");
  background-color: var(--backfround-hero);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text);
  max-width: 696px;
  margin: 0 auto 30px;
}

.hero-button,
.submit-button,
.button-subscribe {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text);
  background-color: var(--color-accent);
  border: none;
  padding: 10px 32px;
  border-radius: 5px;
  transition: background var(--duration-cubic);
}

.hero-button:hover,
.hero-button:focus,
.submit-button:hover,
.submit-button:focus,
.button-subscribe:hover,
.button-subscribe:focus {
  background: var(--act-button);
}

/* advantages */

.advantages-container {
  display: flex;
  column-gap: 30px;
}

.advantages-item {
  width: 270px;
}

.advantages-icon {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--command-back);
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages-titel {
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages-info {
  line-height: 1.71;
  color: var(--color-sub-text);
}

/* doing */
.section-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.pt0 {
  padding-top: 0;
}

.doing-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.31;
  text-align: center;
  margin-bottom: 50px;
}

.doing-container {
  display: flex;
  column-gap: 30px;
}

.doing-container > li {
  position: relative;
}

.doing-info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: var(--doing-info-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.doing-info-text {
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text);
}

/* command */

.command {
  background-color: var(--command-back);
}

.command-titel {
  margin-bottom: 50px;
}

.container-command {
  display: flex;
  column-gap: 30px;
}

.command-item {
  background-color: var(--background-team-card);
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.command-item-info {
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.command-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.command-item-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;

  color: var(--color-sub-text);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: var(--color-sub-text);
}

.social-list-item {
  width: 44px;
  height: 44px;
}

.social-list-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color var(--duration-cubic),
    border-radius var(--duration-cubic);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--social-icon);
  transition: fill var(--duration-cubic);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--color-accent);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--text);
}

/* client */

.client-title {
  margin-bottom: 50px;
}

.client-list {
  display: flex;
  gap: 30px;
  color: var(--client-color);
}

.client-list-item {
  width: 170px;
  height: 92px;
  border: 1px solid var(--client-color);
  border-radius: 4px;
  transition: border-color var(--duration-cubic);
}

.client-list-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-list-item:hover,
.client-list-item:focus {
  border-color: var(--color-accent);
}

.client-list-link:hover .client-list-icon,
.client-list-link:focus .client-list-icon {
  fill: var(--color-accent);
}

.client-list-icon {
  width: 106px;
  height: 60px;
  transition: fill var(--duration-cubic);
}

/* footer */

.footer-site {
  background-color: var(--footer-back);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-content {
  display: flex;
  align-items: baseline;
}

.white {
  color: var(--text);
}

address {
  font-style: normal;
}

.footer-address {
  margin-right: 70px;
}

.footer-logo {
  margin-bottom: 20px;
  display: block;
}

.address-items {
  margin-bottom: 9px;
}

.address-items:last-child {
  margin-bottom: 0;
}

.address-item-map {
  color: var(--text);
  line-height: 2;
}

.footer-contact-link {
  transition: color var(--duration-cubic);
}

.footer-contact-item {
  color: var(--footer-info);
  line-height: 1.71;
}

.join-title,
.subscribe-titel {
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text);
  margin-bottom: 20px;
}

.join-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.join-social-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.join-social-link:hover,
.join-social-link:focus {
  background-color: var(--color-accent);
}

.join-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color var(--duration-cubic);
  background-color: var(--join-item-bg);
}

.join-social-icon {
  width: 20px;
  height: 20px;
  fill: var(--text);
}

.subscribe {
  margin-left: auto;
}

.footer-sub {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--backfround-hero);
  padding: 15px 16px;
  color: var(--text);
  margin-right: 12px;
}

.footer-sub::placeholder {
  font-size: 16px;
  line-height: 1.25;
}
/* portfolio */

.choose-project {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 50px;
}

.choose-project-button {
  background-color: var(--command-back);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color var(--duration-cubic),
    color var(--duration-cubic), box-shadow var(--duration-cubic);
}
.current-button {
  color: var(--text);
  background-color: var(--color-accent);
}

.choose-project-button:hover,
.choose-project-button:focus {
  background-color: var(--color-accent);
  color: var(--text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-galary {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.project-galary-swap {
  position: relative;
  overflow: hidden;
  height: 294px;
}

.project-swap-text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--text);
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform var(--duration-cubic);
}

.project-galary-link:hover,
.project-galary-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-galary-link:hover .project-swap-text,
.project-galary-link:focus .project-swap-text {
  transform: translateY(0);
}

.project-galary-link {
  width: 100%;
  height: 100%;
  display: block;
  transition: box-shadow var(--duration-cubic);
}

.project-galary-item {
  width: 370px;
  border: 1px solid #eeeeee;
  background-color: var(--background-site);
}

.project-galary-info {
  padding: 20px 24px;
}

.project-galary-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-galary-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-sub-text);
}

.button-subscribe {
  padding: 10px 62px 10px 28px;
  position: relative;
}

.icon-send {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}
/* backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  z-index: 50;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity var(--duration-cubic), visibility var(--duration-cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--background-site);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--background-site);
  padding: 0;
}

.close-but-icon {
  width: 11px;
  height: 11px;
  transition: fill var(--duration-cubic);
}

.modal-close-btn:hover .close-but-icon,
.modal-close-btn:focus .close-but-icon {
  fill: var(--color-accent);
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--color-main-text);
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-field:nth-child(4) {
  margin-bottom: 20px;
}

.modal-form-field-name {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--color-sub-text);
  margin-bottom: 4px;
}

.modal-form-input,
.modal-form-comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  transition: border-color var(--duration-cubic);
}

.modal-form-input {
  height: 40px;
  padding-left: 42px;
}

.modal-form-check {
  margin-bottom: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 1.71;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--duration-cubic);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--color-accent);
}

.modal-form-input:focus,
.modal-form-comment:focus {
  outline: none;
  border-color: var(--color-accent);
}

.modal-form-comment::placeholder {
  color: #75757580;
}

.modal-form-comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  color: #000000;
  display: block;
}

.modal-form-check-box {
  appearance: none;
  position: absolute;
}

.modal-form-own-checkbox {
  width: 16px;
  height: 15px;
  border: 1px solid var(--color-main-text);
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}

.modal-form-own-checkbox-icon {
  display: none;
  fill: #ffffff;
}

.modal-form-check-box:checked + .modal-form-own-checkbox {
  background-color: var(--color-accent);
  border: none;
}

.modal-form-check-box:checked
  + .modal-form-own-checkbox
  .modal-form-own-checkbox-icon {
  display: block;
}

.modal-form-check-box:focus + .modal-form-own-checkbox {
  box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.5);
}

.modal-form-check-link {
  color: var(--color-accent);
}

.modal-form-sumbit {
  padding: 10px 52px;
  align-self: center;
}
